<!DOCTYPE html>
<html>
  <head>
    <title>Microverse506MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <% flash.each do |key, val| %>
      <div class="alert alert-<%= key %>"><%= val %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
